@import 'var'

.p-0
    padding: 0

.pt-1
    @media (max-width: $screen-xs)
        padding: ($spacer * .25) 0 0 0

.py-1
    padding: ($spacer * .25) 0

.pt-sx-1
    padding: ($spacer * .25) 0

.py-4
    padding: ($spacer * 1.5) 0

.px-3
    padding: 0 $spacer

.px-4
    padding: 0 ($spacer * 1.5)
    
    @media (max-width: $screen-xs)
        padding: 0 ($spacer * .25)

// .px-sx-1

// .px-sx-2
//     @media (max-width: $screen-xs)
//         padding: 0 ($spacer * .5)