@import 'var'

.p-0
    padding: 0

.pt-1
    @media (max-width: $screen-xs)
        padding: ($spacer * .25) 0 0 0

.py-1
    padding: ($spacer * .25) 0

.px-4
    padding: 0 ($spacer * 1.5)
    
    @media (max-width: $screen-xs)
        padding: 0 ($spacer * .25)