$font-stack: 'IBM Plex Mono', monospace
$font-primary: 'IBM Plex Sans', sans-serif
$font-medium: 'IBMPlexMono-Medium', sans-serif

$primary-color: #00F3BB
$secondary-color: #0000FE
$tertiary-color: #060A24

$color-white: #FFFFFF

$spacer: 4rem
$spacer-mini : 1rem

$toGrow: 1.2
$timeAnim: .9s

$screen-xs : 576px
$screen-md : 768px